<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>tg</string>
		<string>telegram</string>
		<string>facetime</string>
		<string>facetime-audio</string>
		<string>sgnl</string>
		<string>viber</string>
		<string>tel</string>
		<string>sms</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to camera to take photos for contact pictures.</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.2</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>CFBundleDisplayName</key>
	<string>My Dial</string>
	<key>CFBundleName</key>
	<string>My Dial</string>
</dict>
</plist>